
<!DOCTYPE html>
<html class="no-js aws-v1-page aws-lng-zh_CN aws-with-target" lang="zh-CN" data-aws-assets="https://a0.awsstatic.com" data-js-version="1.0.568" data-css-version="1.0.513">
 <head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  
  <title>提交成功</title> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="robots" content="index, follow" /> 
  <meta property="twitter:card" content="summary" /> 
  <meta property="twitter:title" content="提交成功" /> 
  <meta property="twitter:description" content="" /> 
  <meta property="twitter:image" content="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_179x109.png" /> 
  <meta property="twitter:site" content="@awscloud" /> 
  <meta property="fb:pages" content="153063591397681" /> 
  <meta name="baidu-site-verification" content="pjxJUyWxae" /> 
  <meta name="360-site-verification" content="cbe5c6f0249e273e71fffd6d6580ce09" /> 
  <meta name="shenma-site-verification" content="79b94bb338f010af876605819a332e19_1617844070" /> 
  <meta name="sogou_site_verification" content="Ow8cCy3Hgq" /> 
  <link rel="icon" type="image/ico" href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" /> 
  <link rel="shortcut icon" type="image/ico" href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" /> 
  <link rel="apple-touch-icon" sizes="57x57" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png" /> 
  <link rel="apple-touch-icon" sizes="72x72" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png" /> 
  <link rel="apple-touch-icon" sizes="114x114" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png" /> 
  <link rel="apple-touch-icon" sizes="144x144" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png" /> 
  <meta property="og:title" content="提交成功" /> 
  <meta property="og:type" content="company" /> 
  <meta property="og:url" content="https://aws.amazon.com/cn/contact-us/sales-contact-confirmation/" /> 
  <meta property="og:image" content="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png" /> 
  <meta property="og:site_name" content="Amazon Web Services, Inc." /> 
  <meta name="google-site-verification" content="XHghG81ulgiW-3EylGcF48sG28tBW5EH0bNUhgo_DrU" /> 
  <meta name="msvalidate.01" content="6F92E52A288E266E30C2797ECB5FCCF3" /> 
  <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.513/style.css" /> 


</head> 

 <body class=" m-page-with-optin"> 
  <header id="aws-page-header" class="awsm m-page-header" role="banner"> 
   <style>
  .aws-cn-optin {
    box-shadow: #fffae7 0 0 0 4px inset;
    padding: 11px 30px;
    border: 1px solid #8b6e00;
    border-radius: 3px;
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
    z-index: 6004;
  }

  .aws-cn-optin p {
    margin: 0;
  }
</style> 
   

   

 
  </header> 
  <div id="aws-page-content" class="page-content"> 
   <div class="wrapper row"> 
    <aside class="three columns leftnavcontainer" role="complementary"> 
     <div class="leftnav"> 
      <div class="section"></div> 
      <div class="iparys_inherited"></div> 
     </div> 
    </aside> 
    <div class="nine columns content-with-nav"> 
     <main role="main"> 
      <section data-page-alert-target="true"> 
       <div class="title-wrapper"> 
        <div class="row title"> 
         <div class="twelve columns"> 
          <h1 id="提交成功"> <a name="提交成功"> 提交成功</a> </h1> 
         </div> 
        </div> 
       </div> 
       <div class="lead-copy section"> 
        <div class="lead "> 
        </div> 
       </div> 
       <div class="aws-text-box"> 
        <div> 
         <p>感谢您的提交，我们已经更新你的后台数据！<br /> </p> 
        </div> 
       </div> 
       <div class="aws-text-box"> 
        <div class="offset-nopad"> 
         <p>感谢您对我们的关注，如果您有任何疑问，欢迎您拨打海外区域咨询热线：<b>1010 0866</b>（服务时间：早9:00-晚8:00，法定假期除外）</p> 
         <p>&nbsp;</p> 
         <p>&gt;&gt; 您还需要充值？<a href="/money" target="_blank">再次充值</a></p> 
         <p>&gt;&gt; 了解更多？<a href="/reservation" target="_blank">点击这里</a></p> 
        </div> 
       </div> 
      </section> 
     </main> 
    </div> 
   </div> 
  </div> 
 
    
     </div> 
     <div class="lb-xbcol"> 
      <div class="lb-data-attr-wrapper data-attr-wrapper" data-da-type="so" data-da-so-type="viewport" data-da-so-language="cn" data-da-so-category="monitoring" data-da-so-name="footer-china" data-da-so-url="all" data-da-so-version="chat"> 
       <div class="lb-txt-none lb-txt-white lb-txt-14 lb-txt" style="margin-top:0px; margin-bottom:0px;">
         早9:00-晚8:00 (法定假期除外) 
       </div> 
       <a class="lb-txt-none lb-txt-white lb-txt-14 lb-small-v-margin lb-txt" style="margin-top:0px;" href="https://webchat-aws.clink.cn/chat.html?accessId=71693ef4-d394-4377-ba9c-326678ca490d&amp;language=zh_CN&amp;sc_icampaign=aws_livechat_china&amp;sc_icontent=kpe-391&amp;sc_iplace=footer&amp;trk=ha_kpe-391&amp;sc_ichannel=ha"> 在线咨询 AWS 云计算专家</a> 
      </div> 
      <div class="lb-data-attr-wrapper data-attr-wrapper" data-da-type="so" data-da-so-type="viewport" data-da-so-language="cn" data-da-so-category="monitoring" data-da-so-name="footer-china" data-da-so-url="all" data-da-so-version="hotline"> 
       <div class="lb-txt-none lb-txt-white lb-txt-14 lb-txt" style="margin-top:0px;">
         AWS咨询热线：1010 0866 
       </div> 
      </div> 
     
 
   
  <script>require(['jquery', 'scripts']);</script> 
  <div id="aws-page-end"></div> 
  <div id="lb-page-end"></div> 
  <script src="https://a0.awsstatic.com/da/js/1.0.47/aws-da.js"></script> 

 </body>
</html>